@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 80px;
}
.banner {
  position: relative;
  min-height: 100vh;
  background: url(../img/images/banner.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
  transition: 0.4s ease;
}
.banner h1 span {
  font-size: 1.5em;
  font-weight: 700;
  transition: 0.4s ease;
}
.banner h2 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  transition: 0.4s ease;
}
.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.4s ease;
}
.btn:hover {
  background: #fff;
  color: #2196f3;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}
header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.4s ease;
}
header ul li a:hover {
  color: #2196f3;
}
header.sticky ul li a {
  color: #111;
  transition: 0.4s ease;
}
header.sticky ul li a:hover {
  color: #2196f3;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content .heading h2 {
  margin-top: 10px;
  text-decoration: underline;
}
.contentBx {
  padding-right: 30px;
}
.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.contentBx p {
  margin-top: 30px;
}
.contentBx span {
  color: #2196f3;
}
.w50 {
  min-width: 50%;
}
.w50 img {
  width: 45%;
  margin-left: 350px;
}
img {
  max-width: 100%;
  border-radius: 10px;
}
.profile_img {
  max-width: 100%;
  border-radius: 10px;
}
.skills {
  background: #111;
}
.heading.white {
  color: #fff;
}
.skills .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.skills .content .skillsBx {
  padding: 40px 20px;
  background: #222;
  border-radius: 15px;
  color: #fff;
  width: 200px;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s ease;
}
.skills .content .skillsBx:hover {
  background: #2196f3;
}
.skills .content .skillsBx i {
  font-size: 110px;
  padding-bottom: 15px;
  /* filter: invert(0); */
}

.skills .content .skillsBx h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.skills__container {
  width: 100%;
  background-color: #ddd;
  border-radius: 15px;
}
.skills__bar {
  text-align: right;
  padding: 10px 5px 10px 0;
  color: #fff;
  border-radius: 15px;
  font-weight: 500;
}
.html {
  width: 95%;
  background-color: #e34f26;
}
.css {
  width: 95%;
  background-color: #0273b7;
}
.js {
  width: 75%;
  background-color: #f7df1e;
  color: #222;
}
.bootstrap {
  width: 85%;
  background-color: #603c9c;
}
.react {
  width: 75%;
  background-color: #5ed3f3;
  color: #222;
}
.wordpress {
  width: 65%;
  background-color: #117ac9;
}
.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .content .workBx {
  width: 50%;
  padding: 20px;
}
.work .content .workBx img {
  max-width: 100%;
  transition: 0.6s ease;
}
.work .content .workBx img:hover {
  transform: scale(1.075);
}
.examples {
  background: #e0dfdf;
}
.examples .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.examples .content .examplesBx {
  width: 33%;
  padding: 20px;
}
.examplesBx p span {
  font-size: 20px;
  font-weight: 600;
}
.examples .content .examplesBx img {
  max-width: 100%;
  transition: 0.6s ease;
}
.examples .content .examplesBx img:hover {
  transform: scale(1.075);
}
.contact {
  background: #111;
}
.formBx {
  min-width: 60%;
}
.formBx form {
  display: flex;
  flex-direction: column;
}
.formBx form h3,
.contactInfo h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.blue {
  color: #2196f3;
}
.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}
.formBx form input[type="submit"] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
}
.contactInfo {
  min-width: 40px;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contactInfoBx .box .text h3 {
  font-weight: 500px;
  color: #2196f3;
  margin-bottom: 0;
}
.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media (max-width: 991px) {
  header,
  header .sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0;
  }
  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(../img/images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    background: url(../img/images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h1 {
    font-size: 1.5em;
    transition: 0.4s ease;
  }
  .banner h1 span {
    transition: 0.4s ease;
  }
  .banner h2 {
    font-size: 1em;
    transition: 0.4s ease;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .contentBx h3 {
    font-size: 20px;
  }
  .content {
    flex-direction: column;
  }
  .w50 img {
    padding-top: 30px;
    margin-left: 220px;
  }
  .skills .content .skillsBx {
    margin: 10px;
  }
  .work .content .workBx {
    width: 100%;
    padding: 10px;
  }
  .examples .content .examplesBx {
    width: 100%;
    padding: 10px;
  }
  .examplesBx p {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }
  .banner {
    padding: 150px 20px 100px;
  }
  section {
    padding: 100px 20px;
  }
  .w50 img {
    padding-top: 40px;
    margin-left: 120px;
    border-radius: 10px;
  }
  .profile_img {
    border-radius: 10px;
  }
}
